<launch>
    <arg name="path" default="$(env HOME)/data/rosbags/2022_hilti"/>
    <arg name="bagname" default="exp_04_construction_upper_level_easy_2_2022-03-03-11-48-59"/>
    <param name="use_sim_time" value="true"/>

    <node pkg="rosbag" type="record" name="rosbag_record_node" output="screen" args="record -o $(arg path)/odom/$(arg bagname)_odom
	/icp_odom" />

    <include file="$(find hiltislamchallenge)/launch/hilti_mapping.launch"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 0.5 $(arg path)/$(arg bagname).bag" required="true"/>

    <!-- <node pkg="norlab_imu_tools" type="imu_and_wheel_odom_node" name="imu_and_wheel_odom_node" output="screen" respawn="true">
        <remap from="imu_topic" to="/alphasense/imu_filtered" />
        <remap from="wheel_odom_topic" to="/odom" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
        <param name="imu_frame" value="imu_sensor_frame"/>
        <param name="publish_translation" value="0" />
        <param name="wheel_odom_velocity_scale_x" value="1.0" />

        ## This rosparam allows you to set IMU correction w.r.t. base_link

        ## If odom message needed
        <param name="publish_odom" value="true" />
        <param name="odom_topic_name" value="imu_odom" />
    </node> -->


</launch>
