<launch>
    <arg name="path" default="$(env HOME)/data/rosbags/2022_hilti/deskewed_odom"/>
    <arg name="bagname" default="test_hilti"/>
    <param name="use_sim_time" value="true"/>

    <node pkg="rosbag" type="record" name="rosbag_record_node" output="screen" args="record -O $(arg path)/odom/$(arg bagname)_odom_icp
	/icp_odom" />

    <!-- <include file="$(find hiltislamchallenge)/launch/hilti_mapping.launch"/> -->
    <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->

    <node pkg="tf" type="static_transform_publisher" name="imu_sensor_broadcaster" args="0.0 0.0 0.0 1.32679489668e-06 0.999999999998 1.32679489668e-06 1.76038469785e-12 sensor_frame imu_sensor_frame 100" />

    <node pkg="tf" type="static_transform_publisher" name="sensor_broadcaster" args=" 0.0 0.0 0.2 0.0 0.0 0.0 1.0 base_link sensor_frame 100" />

    <include file="$(find hiltislamchallenge)/launch/odometry_correction.launch"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path)/$(arg bagname).bag" required="true"/>

    <!-- <node pkg="norlab_imu_tools" type="imu_and_wheel_odom_node" name="imu_and_wheel_odom_node" output="screen" respawn="true">
        <remap from="imu_topic" to="/alphasense/imu_filtered" />
        <remap from="wheel_odom_topic" to="/odom" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
        <param name="imu_frame" value="imu_sensor_frame"/>
        <param name="publish_translation" value="0" />
        <param name="wheel_odom_velocity_scale_x" value="1.0" />

        ## This rosparam allows you to set IMU correction w.r.t. base_link

        ## If odom message needed
        <param name="publish_odom" value="true" />
        <param name="odom_topic_name" value="imu_odom" />
    </node> -->
</launch>
